body{
    background-color: #212121;
    color: #ffffff;
    font-family: 'Noto Sans', monospace;
    font-weight: bold;

    
}


::selection {
    color: white;
    background: #ff00ff;
}
::-moz-selection {
    color: white;
    background: #ff00ff;
}


#timer{
    position: absolute;

    font-size: 4vw;

    left: 50%;
    margin-left: -15vw;
    top: 50%;
    margin-top: -5vw;
}
