body{
    background-color: #212121;
    color: #ffffff;
    font-family: 'Noto Sans', monospace;
    font-weight: bold;
    
    ::selection {
    background: #ff00ff; /* WebKit/Blink Browsers */
    }
    ::-moz-selection {
    background: #ff00ff; /* Gecko Browsers */
    }
}

#timer{
    position: absolute;

    font-size: 4vw;

    left: 50%;
    margin-left: -15vw;
    top: 50%;
    margin-top: -5vw;
}
